node_modules
.settings
.mta
.vscode
mta_archive_builder-1.1.0.jar
MultiTenantIndustry.mtar
.project
.DS_Store
core-db/node/
core-db/npm-debug.log
core-db/coverage
core-db/target/
core-db/node_modules
industry-management-ui/node/
industry-management-ui/npm-debug.log
industry-management-ui/coverage
industry-management-ui/target/
industry-management-ui/node_modules
industry-management-ui/dist