database/target
database/.classpath
database/.settings
database/.project
manifest-canary.yml
.vscode
tenant-manager/admin/create_consumer_with_arguments.sh
tenant-manager/admin/data.json
tenant-manager/node_modules/
tenant-manager/.testresults/
product-service/node_modules/
product-service/.testresults/
product-ui/node_modules/
product-ui/.testresults/